@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/

h1 {
  @apply text-4xl tracking-tighter mb-3 text-center lg:text-7xl;
}

h3 {
  @apply text-2xl font-bold mb-3;
}

/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}

.hero {
  background: url('https://www.nerja.casa/hubfs/Nerja%20Fotos/Calahonda_Beach.jpg') no-repeat;
  height: 500px;
  width: 100%;
}
.floating-sub-hero {
  bottom: -7%;
  left: 10%;
}