@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/

h1 {
  @apply text-4xl tracking-tighter mb-3 text-center lg:text-7xl;
}

h3 {
  @apply text-2xl font-bold mb-3;
}

/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}

.hero {
  background: url('https://www.nerja.casa/hubfs/Nerja%20Fotos/Calahonda_Beach.jpg') no-repeat;
  height: 500px;
  width: 100%;
}
.floating-sub-hero {
  bottom: -7%;
  left: 10%;
}

.work-sans {
    font-family: 'Work Sans', sans-serif;
}
        
#menu-toggle:checked + #menu {
    display: block;
}

.hover\:grow {
    transition: all 0.3s;
    transform: scale(1);
}

.hover\:grow:hover {
    transform: scale(1.02);
}
.flickity-viewport {
  height: 300px !important;
}

.googlemap {
	border: 0;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.month_tab{
  display: none;
}

