<div name="Calendar">
  <section class="mt-15">
      <div class="container px-5 py-24 mx-auto">
          <div class="">
              <div class="responsive-iframe-container big-container">
                  <iframe id="open-web-calendar" 
                  style="background:url('https://raw.githubusercontent.com/niccokunzmann/open-web-calendar/master/static/img/loaders/circular-loader.gif') center center no-repeat;"
                  src="https://open-web-calendar.herokuapp.com/calendar.html?url={{ calendar }}&amp;tabs=no&amp;title=Nerja%20Casa&amp;language={{ language }}&amp;skin=dhtmlxscheduler.css&amp;loader=&amp;css=.dhx_cal_navline%20.dhx_cal_today_button%7B%0A%20%20display%3Anone%3B%0A%7D%0A%0A%0A.dhx_cal_navline%20.dhx_cal_date%20%7B%0A%20%20%20%20text-align%3A%20left%3B%0A%7D"
                  sandbox="allow-scripts allow-same-origin allow-top-navigation"
                  allowTransparency="true" scrolling="no" 
                  frameborder="0" height="400px" width="100%"></iframe>
              </div>
          </div>
      </div>
  </section>
</div>


