<div name="Calendar">
  <section class="mt-15">
      <div class="container px-5 py-24 mx-auto">
          <div class="">
              <div class="responsive-iframe-container big-container">
                  <iframe id="open-web-calendar" 
                  style="background:url('https://raw.githubusercontent.com/niccokunzmann/open-web-calendar/master/static/img/loaders/circular-loader.gif') center center no-repeat;"
                  src="https://open-web-calendar.herokuapp.com/calendar.html?url={{ calendar }}&amp;title=Nerja%20Casa&amp;language={{ language }}&amp;loader=&amp;tabs=no"
                  sandbox="allow-scripts allow-same-origin allow-top-navigation"
                  allowTransparency="true" scrolling="no" 
                  frameborder="0" height="400px" width="100%"></iframe>
              </div>
          </div>
      </div>
  </section>
</div>


