<!-- Origen:  https://open-web-calendar.herokuapp.com/
 -->
 Algo
 <div class="responsive-iframe-container big-container">
  <iframe id="open-web-calendar" 
    style="background:url('https://raw.githubusercontent.com/niccokunzmann/open-web-calendar/master/static/img/loaders/circular-loader.gif') center center no-repeat;"
    src="https://open-web-calendar.herokuapp.com/calendar.html?url={{ calendar }}&amp;title=Nerja%20Casa&amp;language={{ language }}&amp;loader=&amp;tabs=month"
    sandbox="allow-scripts allow-same-origin allow-top-navigation"
    allowTransparency="true" scrolling="no" 
    frameborder="0" height="350px" width="100%"></iframe>
</div>




<style>
@media (max-width: 350px) {
   .big-container {
       display: none;
   }
}
@media (min-width: 350px) {
   .small-container {
       display: none;
   }
}
/* Responsive iFrame */
.responsive-iframe-container {
   position: relative;
   padding-bottom: 56.25%;
   padding-top: 30px;
   height: 0;
   overflow: hidden;
}
.responsive-iframe-container iframe,   
.responsive-iframe-container object,  
.responsive-iframe-container embed {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}  
  
  
#hs_cos_wrapper_{{name}}  .green-overlay:before { background-color:rgba({{ module.overlay_color.color|convert_rgb }},{{ module.overlay_color.opacity / 100 }}); opacity:1;  }
#hs_cos_wrapper_{{name}} .bgimg-main2 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
  .text-color { color: {{ module.text_color.color }}; }
</style>
